*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}
.table-content{
    display: table;
    margin: auto;
}
.right{
    float: right;
}
.left{
    float: left;
}
body{
    font-family: 'Lato', sans-serif;
}
header{
    display: table;
    background-size: cover;
    background-image: url('../img/cover.jpg');
    height: 105vh;
    width: 100%;
    position: relative;
    padding: 150px 0;
}
header:after{
    content: '';
    background: rgba(0, 0, 0, 0.65);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.header-wrapper{
    display: table-cell;
    width: 100%;
    text-align: center;
    color: white;
    position: relative;
    z-index: 1;
    font-size: 23px;
    vertical-align: middle;
    padding: 0 10px;
}
.header-wrapper h1{
    margin: 50px 0;
}
.get-start-btn{
    padding: 20px;
    background-color: dodgerblue;
    color: white;
    border-radius: 20px;
    display: inline-block;
    margin-top: 50px;
}
.get-start-btn:hover{
    background-color: orangered;
}
.main-menu{
    display: block;
    width: 100%;
    /*background-color: rgb(0,150,250);*/
    background-color: rgb(75, 153, 255);
    /*height: 54px;*/
    height: 64px;
    padding: 5px 0;
    /*overflow: hidden;*/
}
.main-menu li{
    display: inline-block;
}
.main-menu a{
    color: white;
}
.nav-links{
    margin-top: 7px;
    margin-left: 15px;
}
.nav-links a{
    font-size: 20px;
    padding: 10px;
    display: block;
}
.nav-social-media a{
    font-size: 25px;
    padding: 10px;
    display: block;
}
.menu-dropdown{
    position: absolute;
    background-color: rgb(235,235,235);
    display: none;
    width: 200px;
}
.deep{
    left: 200px;
    display: none;
    position: absolute;
    background-color: rgb(235,235,235);
    width: 200px;
    top: 55px;
}
.dropdown-btn:hover .menu-dropdown{
    display: block;
}
.dropdown-deep-btn:hover .deep{
    display: block;
}
.menu-dropdown li{
    display: block;
    padding: 5px;
}
.menu-dropdown li:hover{
    background-color: rgba(250,250,255,0.5);
}
.menu-dropdown a{
    color: black;
}
.menu-responsive-btn{
    font-size: 30px;
    padding: 10px;
    display: none;
}
.img-logo{
    margin-top: 7px;
    max-height: 40px;
}
.menu-overlay{
    width: 0%;
    display: block;
    height: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    /*transition: 2s;*/
    /*overflow: hidden;*/
    background-color: rgba(0,0,0,0.5);
    /*transition: 2s;*/
}
.menu-overlay-content{
    width: 0%;
    position: relative;
    height: 100%;
    background-color: rgba(0,0,0,0.75);
    transition: 2s;
    overflow: hidden;
}
.menu-overlay-content a{
    display: block;
    padding: 20px;
    color: seashell;
    font-size: 22px;
}
.menu-overlay-content a:hover{
    background-color: seashell;
    color: black;
}
.btn-exit{                                                                                                                                                                                                                                                                                                                                                                                                                                                    
    width: fit-content;
    float: right;
    padding: 15px;
    color: white;
    cursor: pointer;
    font-size: 22px;
}
.main-menu-wrapper{
    width: 80%;
    margin: auto;
}
main{
    width: 100%;
    border: 1px solid black;
    height: 1500px;
    display: table;
}
.aboutus{
    width: 80%;
    margin: auto;
    height: 300px;
    border: 1px solid black;
}
.banner{
    width: 100%;
    height: 500px;
    background-color: steelblue;
}
.features{
    width: 80%;
    margin: auto;
    height: 500px;
    border: 1px solid black;
}
.buy-theme{
    height: 150px;
    background-color: rgb(0,150,250);
    width: 100%;
}
.portfolio{
    width: 100%;
    height: 500px;
    border: 1px solid black;
}
.ourteam{
    width: 80%;
    margin: auto;
    height: 400px;
    background-color: tomato;
}
.contactus{
    width: 80%;
    height: 600px;
    border: 1px solid black;
    margin: auto;
}
footer{
    width: 100%;
    height: 200px;
    background-color: gray;
}
/*
@media only screen and (min-height:500px){
    body{
        height: 100%;
    }
}
*/
/*
@media only screen and (min-height:208px){
    .main-menu{
        position: fixed;
        top: 0;
    }
}
*/
@media only screen and (max-width:1200px){
    .main-menu-wrapper{
        width: 98%;
    }
}
@media only screen and (max-width: 804px){
    .main-menu-wrapper{
        width: 80%;
    }
    .menu-responsive-btn{
        display: block;
        position: fixed;
        /*left: 85%;*/
        left: 90%;
        top: 0;
        z-index: 1;
        color: seashell;
        cursor: pointer;
    }
    .nav-links, .nav-social-media{
        display: none;
    }
}
@media only screen and (max-width:740px){
    .main-menu-wrapper{
        width: 80%;
    }/*
    .menu-responsive-btn{
        display: block;
        position: absolute;
        left: 85%;
    }*/
}
