*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}
.table-content{
    display: table;
    margin: auto;
}
.right{
    float: right;
}
.left{
    float: left;
}
body{
    font-family: 'Lato', sans-serif;
}
header{
    display: table;
    background-size: cover;
    background-image: url('../img/cover.jpg');
    height: 105vh;
    width: 100%;
    position: relative;
    padding: 150px 0;
}
header:after{
    content: '';
    background: rgba(0, 0, 0, 0.65);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.header-wrapper{
    display: table-cell;
    width: 100%;
    text-align: center;
    color: white;
    position: relative;
    z-index: 1;
    font-size: 23px;
    vertical-align: middle;
    padding: 0 10px;
}
.header-wrapper h1{
    margin: 50px 0;
}
.get-start-btn{
    padding: 20px;
    background-color: dodgerblue;
    color: white;
    border-radius: 20px;
    display: inline-block;
    margin-top: 50px;
}
.get-start-btn:hover{
    background-color: orangered;
}
.main-menu{
    display: block;
    width: 100%;
    /*background-color: rgb(0,150,250);*/
    background-color: rgb(75, 153, 255);
    /*height: 54px;*/
    height: 64px;
    padding: 5px 0;
    /*overflow: hidden;*/
    z-index: 1;
    position: sticky;
    top: 0;
}
.main-menu li{
    display: inline-block;
}
.main-menu a{
    color: white;
}
.nav-links{
    margin-top: 7px;
    margin-left: 15px;
}
.nav-links a{
    font-size: 20px;
    padding: 10px;
    display: block;
}
.main-menu a:hover{
    color: rgba(255, 255, 255, 0.5);
}
.nav-social-media a{
    font-size: 25px;
    padding: 10px;
    display: block;
}
.menu-dropdown{
    position: absolute;
    background-color: rgb(235,235,235);
    display: none;
    width: 200px;
}
.deep{
    left: 200px;
    display: none;
    position: absolute;
    background-color: rgb(235,235,235);
    width: 200px;
    top: 55px;
}
.dropdown-btn:hover .menu-dropdown{
    display: block;
}
.dropdown-deep-btn:hover .deep{
    display: block;
}
.menu-dropdown li{
    display: block;
    padding: 5px;
}
.menu-dropdown li:hover{
    background-color: rgba(250,250,255,0.5);
}
.menu-dropdown a{
    color: black;
}
.menu-responsive-btn{
    font-size: 30px;
    padding: 10px;
    display: none;
}
.img-logo{
    margin-top: 7px;
    max-height: 40px;
}
.menu-overlay{
    width: 0%;
    display: block;
    height: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    /*transition: 2s;*/
    /*overflow: hidden;*/
    background-color: rgba(0,0,0,0.5);
    /*transition: 2s;*/
}
.menu-overlay-content{
    width: 0%;
    position: relative;
    height: 100%;
    background-color: rgba(0,0,0,0.75);
    transition: 0.5s;
    overflow: hidden;
}
.menu-overlay-content a{
    display: block;
    padding: 20px;
    color: seashell;
    font-size: 22px;
}
.menu-overlay-content a:hover{
    background-color: seashell;
    color: black;
}
.btn-exit{                                                                                                                                                                                                                                                                                                                                                                                                                                                    
    width: fit-content;
    float: right;
    padding: 15px;
    color: white;
    cursor: pointer;
    font-size: 22px;
}
.main-menu-wrapper{
    width: 80%;
    margin: auto;
}
main{
    width: 100%;
    height: 1500px;
    display: table;
}
.aboutus{
    width: 80%;
    margin: auto;
    text-align: center;
}
.aboutus h1{
    margin: 30px 0;
}
.circle-wrapper{
    /*width: 60%;*/
    margin: auto;
    display: table;
    padding: 50px 0%;
    
}
.row-wrapper{
    width: 50%;
    display: inline-block;
}
.circle{
    border: 5px solid rgb(75, 153, 255);;
    height: 150px;
    width: 150px;
    /*display: inline-block;*/
    border-radius: 50%;
    position: relative;
    padding-top: 50px;
    margin-bottom: 15px;
    margin-right: 10px;
}
.circ-sup{
    height: 50px;
    width: 50px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    background-color: orangered;
    color: rgb(235,235,235);
    line-height: 50px;
    font-weight: bolder;
}
.banner{
    width: 100%;
    max-height: 500px;
    background-image: url('../img/parallax-bg.jpg');
    background-position: 0px 0px;
    overflow: hidden;
}
.banner hgroup{
    margin-top: 30px;
}
.banner h1,h4{
    text-align: center;
    color: seashell;
}
.banner h1{
    text-transform: uppercase;
    font-size: 25px;
}
.banner h4{
    font-size: 18px;
}
.banner hgroup{
    margin-top: 50px;
    line-height: 2;
}
.gadgets-img{
    width: fit-content;
    margin: auto;
    padding-top: 35px;
    z-index: 0;
}
.gadgets-img img{
    width: 100%;
    height: auto;
}
.features{
    width: 80%;
    margin: auto;
}
.features h1{
    text-align: center;
    color: rgb(15, 153, 255);
    margin-top: 30px;
    font-size: 30px;
}
.features-wrapper{
    display: table;
    /*margin: auto;*/
    width: 100%;
    margin: 30px 0;
}
.feature{
    display: inline-block;
    width: 33.333337%;
    text-align: center;
    padding: 0 15px;
}
.feature span{
    padding: 15px;
    padding: 15px;
    color: white;
    font-size: 25px;
    background-color: rgb(15, 153, 255);
    border-radius: 50%;
    margin: 10px;
    text-align: center;
}
.buy-theme{
    height: 175px;
    background-color: rgb(0,150,250);
    width: 100%;
    color: white;
}
.buy-theme-wrapper{
    /*margin-left: 150px;*/
    width: 100%;
    height: 68px;
    margin-top: 53px;
}
.buy-theme-text-wrapper{
    margin-left: 150px;
}
.buy-theme a{
    color: white;
    padding: 15px;
    border: 2px solid white;
    display: block;
    width: fit-content;
    margin-top: 15px;
    border-radius: 25px;
    float: right;
    margin-right: 150px;
}
.portfolio{
    width: 100%;
    text-align: center;
}
.portfolio h1{
    color: rgb(15, 153, 255);
    margin: 30px 0;
}
.portfolio figure{
    width: 25%;
    float: left;
    position: relative;
}
.portfolio img{
    width: 100%;
    height: auto;
}
.portfolio figcaption{
    position: absolute;
    z-index: -1;
    top: 0;
    height: 100%;
    background-color: rgba(0,0,0,0.5);  
    color: whitesmoke;
}
.portfolio figure:hover figcaption{
    z-index: 0;
}
.portfolio figcaption h3{
    margin-top: 10%;
}
.ourteam{
    width: 80%;
    margin: auto;
    height: 400px;
    background-color: tomato;
    content: "";
    clear: both;
}
.contactus{
    width: 80%;
    height: 600px;
    border: 1px solid black;
    margin: auto;
}
footer{
    width: 100%;
    height: 200px;
    background-color: gray;
}
/*
@media only screen and (min-height:500px){
    body{
        height: 100%;
    }
}
*/
/*
@media only screen and (min-height:208px){
    .main-menu{
        position: fixed;
        top: 0;
    }
}
*/
@media only screen and (max-width:1200px){
    .main-menu-wrapper{
        width: 98%;
    }
}
@media only screen and (max-width: 804px){
    .main-menu-wrapper{
        width: 80%;
    }
    .menu-responsive-btn{
        display: block;
        position: fixed;
        /*left: 85%;*/
        left: 90%;
        top: 0;
        z-index: 1;
        color: seashell;
        cursor: pointer;
    }
    .nav-links, .nav-social-media{
        display: none;
    }
}
@media only screen and (max-width:815px){
    .aboutus{
        width: 100%;
    }
}
@media only screen and (max-width:740px){
    .main-menu-wrapper{
        width: 80%;
    }/*
    .menu-responsive-btn{
        display: block;
        position: absolute;
        left: 85%;
    }*/
}
@media only screen and (max-width:600px){
    .feature{
        width: 100%;
    }
}
@media only screen and (max-width:630px){
    .features{
        width: 100%;
    }
}
@media only screen and (max-width: 654px){
    .circle-wrapper{
        width: 60%;
    }
}
@media only screen and (max-width: 548px){
    .circle-wrapper{
        width: 10%;
    }
}